/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Soledago";
  src: url("../fonts/Soledago.eot");
  src: url("../fonts/Soledago.eot?#iefix") format("embedded-opentype"), url("../fonts/Soledago.woFFGoodPro") format("woFFGoodPro"), url("../fonts/Soledago.ttf") format("truetype");
}
.main__bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: auto;
}
.main__slogan {
  width: 30%;
  padding-top: 30%;
  margin-left: 5.5%;
  font-size: 2.5vw;
  color: #871E2B;
}
.main__name {
  font-family: "Soledago";
  font-size: 5vw;
  color: #4B2429;
}
.main__name:first-of-type {
  margin-top: 35%;
  margin-left: 46%;
}
.main__name:last-of-type {
  margin-left: 61%;
}
.main__and {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Soledago";
  margin-left: 60%;
  font-size: 3vw;
  color: #4B2429;
}
.main__title-tv {
  margin-top: 50rem;
  color: #4B2429;
  font-size: 2.5vw;
}
.main__title-eng-tv {
  color: #4B2429;
}
.main__subtitle-tv {
  color: #4B2429;
}
.main__subtitle-eng-tv {
  color: #4B2429;
}
.main__photo {
  position: absolute;
  top: 0;
  z-index: -2;
}
.main__photo:nth-of-type(1) {
  z-index: -3;
  width: 70%;
  right: 0;
}
.main__photo:nth-of-type(2) {
  z-index: -3;
  top: 55.7vw;
  width: 50%;
  left: 0;
}
.main__photo:nth-of-type(3) {
  top: 260%;
  width: 20%;
  left: 1%;
  transform: rotate(15deg);
}
.main__photo:nth-of-type(4) {
  top: 286%;
  width: 20%;
  left: 26%;
  transform: rotate(-15deg);
}
.main__photo:nth-of-type(5) {
  z-index: -2;
  top: 225%;
  width: 19%;
  left: 48%;
  transform: rotate(-13deg);
}
.main__photo:nth-of-type(6) {
  z-index: -2;
  top: 238%;
  width: 21%;
  left: 72%;
  transform: rotate(17deg);
}
.main__video {
  position: absolute;
  z-index: -2;
  height: auto;
}
.main__video:nth-of-type(1) {
  top: 340%;
  width: 25%;
  left: 28%;
}/*# sourceMappingURL=style.css.map */