/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  line-height: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Soledago";
  src: url("../fonts/Soledago.eot");
  src: url("../fonts/Soledago.eot?#iefix") format("embedded-opentype"), url("../fonts/Soledago.woFFGoodPro") format("woFFGoodPro"), url("../fonts/Soledago.ttf") format("truetype");
}
.main {
  position: relative;
}
.main__bg {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}
.main__slogan {
  width: 30%;
  padding-top: 30%;
  margin-left: 5.5%;
  font-size: 2.5vw;
  color: #871E2B;
  position: relative;
  z-index: 2;
}
.main__name {
  font-family: "Soledago";
  font-size: 5vw;
  color: #4B2429;
  position: relative;
  z-index: 2;
}
.main__name:first-of-type {
  margin-top: 35%;
  margin-left: 46%;
}
.main__name:last-of-type {
  margin-left: 61%;
}
.main__and {
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Soledago";
  margin-left: 60%;
  font-size: 3vw;
  color: #4B2429;
  position: relative;
  z-index: 2;
}
.main__title-tv {
  margin-top: 95vw;
  margin-left: 5%;
  color: #4B2429;
  font-size: 3vw;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
.main__title-eng-tv {
  font-size: 3vw;
  margin-left: 5%;
  margin-top: 1vw;
  font-family: "Soledago";
  color: #4B2429;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
.main__subtitle-tv {
  margin-top: 35vw;
  margin-left: 25%;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  font-size: 3vw;
  color: #4B2429;
  position: relative;
  z-index: 2;
}
.main__subtitle-eng-tv {
  margin-top: 1vw;
  margin-left: 30%;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  font-size: 3vw;
  font-family: "Soledago";
  color: #4B2429;
  position: relative;
  z-index: 2;
}
.main__photo-main-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55vw;
  z-index: 0;
}
.main__photo-main-block .main__photo-main-img {
  position: absolute;
}
.main__photo-main-block .main__photo-main-img:first-child {
  width: 72%;
  right: 0;
  top: 0;
  z-index: 0;
}
.main__photo-main-block .main__photo-main-img:last-child {
  top: 100%;
  left: 0;
  width: 50%;
  clip-path: polygon(0% 0%, 70% 0%, 100% 30%, 100% 100%, 0% 100%, 0 0);
  z-index: 0;
}
@media (max-width: 450px) {
  .main__photo-main-block .main__photo-main-img:last-child {
    top: 95%;
  }
}
.main__photo-collage-1 {
  position: absolute;
  top: 112.2vw;
  left: 0;
  width: 100%;
  height: 30.8vw;
  z-index: 0;
}
@media (max-width: 768px) {
  .main__photo-collage-1 {
    top: 110.2vw;
  }
}
.main__photo-collage-1 .main__photo-collage-img {
  position: absolute;
  width: 21%;
  z-index: 0;
}
.main__photo-collage-1 .main__photo-collage-img:nth-child(1) {
  top: 0%;
  left: 47%;
  width: 19%;
  transform: rotate(-13deg);
}
@media (max-width: 768px) {
  .main__photo-collage-1 .main__photo-collage-img:nth-child(1) {
    width: 20%;
  }
}
.main__photo-collage-1 .main__photo-collage-img:nth-child(2) {
  top: 18.8%;
  left: 73%;
  transform: rotate(17deg);
}
@media (max-width: 768px) {
  .main__photo-collage-1 .main__photo-collage-img:nth-child(2) {
    left: 72.5%;
  }
}
.main__photo-collage-1 .main__photo-collage-img:nth-child(3) {
  top: 57.8%;
  left: 1%;
  z-index: 10;
  transform: rotate(15deg);
}
@media (max-width: 768px) {
  .main__photo-collage-1 .main__photo-collage-img:nth-child(3) {
    top: 56%;
  }
}
.main__photo-collage-1 .main__photo-collage-img:nth-child(4) {
  top: 100%;
  left: 26%;
  transform: rotate(-15deg);
}
@media (max-width: 768px) {
  .main__photo-collage-1 .main__photo-collage-img:nth-child(4) {
    left: 25%;
  }
}
.main__photo-collage-2 {
  position: absolute;
  top: 360vw;
}
@media (max-width: 1400px) {
  .main__photo-collage-2 {
    top: 359vw;
  }
}
@media (max-width: 1200px) {
  .main__photo-collage-2 {
    top: 358vw;
  }
}
@media (max-width: 1000px) {
  .main__photo-collage-2 {
    top: 357vw;
  }
}
@media (max-width: 850px) {
  .main__photo-collage-2 {
    top: 356vw;
  }
}
@media (max-width: 768px) {
  .main__photo-collage-2 {
    top: 354.5vw;
  }
}
@media (max-width: 650px) {
  .main__photo-collage-2 {
    top: 353.5vw;
  }
}
@media (max-width: 600px) {
  .main__photo-collage-2 {
    top: 352.2vw;
  }
}
@media (max-width: 530px) {
  .main__photo-collage-2 {
    top: 351.2vw;
  }
}
@media (max-width: 490px) {
  .main__photo-collage-2 {
    top: 350.2vw;
  }
}
.main__photo-collage-2 {
  left: 0;
  width: 100%;
  height: 30vw;
  z-index: 0;
}
.main__photo-collage-2 .main__photo-collage-img {
  position: absolute;
  width: 15%;
  z-index: 0;
}
.main__photo-collage-2 .main__photo-collage-img:nth-child(1) {
  top: 45%;
  left: 8.5%;
  transform: rotate(38deg);
}
.main__photo-collage-2 .main__photo-collage-img:nth-child(2) {
  top: -14%;
  left: 33.3%;
  transform: rotate(-4deg);
}
.main__photo-collage-2 .main__photo-collage-img:nth-child(3) {
  top: 71%;
  left: 61.2%;
  transform: rotate(3deg);
}
.main__photo-collage-2 .main__photo-collage-img:nth-child(4) {
  top: -44%;
  left: 74.3%;
  transform: rotate(-38deg);
}
.main__desc-collage {
  position: absolute;
  margin-left: 2%;
  color: white;
  font-size: 2vw;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.main__desc-collage:nth-of-type(1) {
  margin-top: 6%;
  left: 17%;
}
.main__desc-collage:nth-of-type(2) {
  margin-top: 30%;
  left: 23%;
}
.main__desc-collage:nth-of-type(3) {
  margin-top: 3%;
  left: 60%;
}
.main__desc-collage:nth-of-type(4) {
  margin-top: 35%;
  left: 77%;
}
.main__desc-eng {
  font-family: "Soledago";
  letter-spacing: 10%;
  margin-top: 2vw;
}
.main__video1 {
  position: absolute;
  z-index: 0;
  height: auto;
}
.main__video1:nth-of-type(1) {
  top: 183vw;
  width: 25%;
  left: 28%;
}
@media (max-width: 768px) {
  .main__video1:nth-of-type(1) {
    top: 180vw;
  }
}
@media (max-width: 450px) {
  .main__video1:nth-of-type(1) {
    top: 175vw;
  }
}
.main__video2 {
  position: absolute;
  z-index: 0;
  height: auto;
}
.main__video2:nth-of-type(1) {
  top: 405vw;
  transform: rotate(15deg);
  width: 30%;
  left: 23.2%;
  top: 402vw;
}
@media (max-width: 768px) {
  .main__video2:nth-of-type(1) {
    top: 395vw;
  }
}
.main__title-collage {
  margin-top: 22vw;
  margin-left: 2%;
  color: white;
  font-size: 2vw;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
.main__title-eng-collage {
  font-size: 6vw;
  margin-left: 2%;
  margin-top: 1vw;
  font-family: "Soledago";
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 2;
}
.main__timer-title {
  margin-top: 15vw;
  margin-left: auto;
  margin-right: auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  font-size: 10vw;
  color: #4B2429;
  position: relative;
  z-index: 2;
}
.main__timer-nums {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 6vw;
  align-items: top;
  margin-left: auto;
  margin-top: 5vw;
  margin-right: auto;
  font-family: "Soledago";
  color: #4B2429;
  display: flex;
  position: relative;
  z-index: 2;
}
.main__timer-labels {
  text-align: center;
  font-size: 3vw;
  display: flex;
  font-family: "Soledago";
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #4B2429;
  position: relative;
  z-index: 2;
}
.main__timer-number {
  width: 4ch;
}
.main__timer-label {
  width: 9ch;
}

.main__photoboth-btn {
  background-color: #7a1111;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.519);
  border: transparent;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 49.5vw;
  margin-left: 10%;
  font-size: 2vw;
  color: white;
  width: 14%;
  height: 3vw;
  position: relative;
  z-index: 2;
}
.main__photoboth-btn:hover {
  background-color: #a51b1b;
}
@media (max-width: 768px) {
  .main__photoboth-btn {
    margin-top: 43.5vw;
  }
}

.main__photoboth-container {
  width: 100%;
  position: absolute;
  left: 32vw;
  top: 276vw;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease;
  will-change: transform, opacity;
  transform: translateX(5%) translateY(10%);
  opacity: 1;
  z-index: 2;
}
.main__photoboth-container.hide {
  transform: translateX(75%) translateY(-84%);
  pointer-events: none;
}

.main__photoline {
  z-index: 10;
  width: 70%;
}

.main__photoboth-img {
  position: absolute;
  z-index: -1;
  width: 15%;
}
.main__photoboth-img:nth-of-type(2) {
  transform: translateX(-370%) translateY(258%) rotate(46.45deg);
}
.main__photoboth-img:nth-of-type(3) {
  transform: translateX(-295%) translateY(185%) rotate(46.45deg);
}
.main__photoboth-img:nth-of-type(4) {
  transform: translateX(-225%) translateY(120%) rotate(46.45deg);
}
.main__photoboth-img:nth-of-type(5) {
  transform: translateX(-155%) translateY(55%) rotate(46.45deg);
}/*# sourceMappingURL=style.css.map */