@font-face {
    font-family: 'Soledago';
    src: url('../fonts/Soledago.eot');
    src: url('../fonts/Soledago.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Soledago.woFFGoodPro') format('woFFGoodPro'),
    url('../fonts/Soledago.ttf') format('truetype');

    }

