@font-face {
    font-family: 'FFGoodPro';
    src: url('../fonts/FFGoodPro-Light.eot');
    src: url('../fonts/FFGoodPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FFGoodPro-Light.woFFGoodPro') format('woFFGoodPro'),
    url('../fonts/FFGoodPro-Light.ttf') format('truetype');
    font-weight: 100;
    
    }

