.main{
   &__bg{
      z-index: -1;
      position: absolute;
      width: 100%;
      height: auto;
   }
   &__slogan{
      width: 30%;
      padding-top: 30%;
      margin-left: 5.5%;
      font-size: 2.5vw;
      color:#871E2B;
   }
   &__name{
      font-family: 'Soledago';
      
      font-size: 5vw;
      color:#4B2429;

      &:first-of-type{
         margin-top: 35%;
         margin-left: 46%;
      }
      &:last-of-type{
         
         margin-left: 61%;
      }
   }
   &__and{
      margin-top: 2%;
      margin-bottom: 2%;
      font-family: 'Soledago';
      margin-left: 60%;
      font-size: 3vw;
      color:#4B2429;
   }

   &__title-tv{
      margin-top: 95vw;
      margin-left: 5%;
      color:#4B2429;
      font-size: 3vw;
      width: fit-content;
      @media (max-width:768px) {
            top:128vw;
         }
         @media (max-width:450px) {
            top:126vw;
            
         }
   }

   &__title-eng-tv{
      font-size: 3vw;
      margin-left: 5%;
      margin-top: 1vw;
      font-family: 'Soledago';
      color:#4B2429;
      width: fit-content;
      @media (max-width:768px) {
            top:128vw;
         }
         @media (max-width:450px) {
            top:126vw;
            
         }
   }

   &__subtitle-tv{
      margin-top: 35vw;
      margin-left: 25%;
      width: fit-content;
      text-align: right;
      font-size: 3vw;
      color:#4B2429;
      @media (max-width:768px) {
            
         }
         @media (max-width:450px) {
            
            
         }
   }

   &__subtitle-eng-tv{
      margin-top: 1vw;
      margin-left: 30%;
      width: fit-content;
      text-align: right;
      font-size: 3vw;
      
      font-family: 'Soledago';
      color:#4B2429;
      @media (max-width:768px) {
            
         }
         @media (max-width:450px) {
            
            
         }
   }
















   


   &__photo{
      position: absolute;
      top:0;
      z-index: -2;

      &:nth-of-type(1){
         z-index: -3;
         width: 72%;
         right: 0;
      }
      &:nth-of-type(2){
         z-index:-3;
         top:55vw;
         width: 50%;
         left: 0;
         clip-path: polygon(
            0% 0%,
            70% 0%,
            100% 30%,
            100% 100%,
            0% 100%,
            0 0,

         );
         @media (max-width:450px) {
            top:50vw;
         }
      }
      &:nth-of-type(3){
         
         top:130vw;
         width: 21%;
         left: 1%;
         transform: rotate(15deg);
         @media (max-width:768px) {
            top:128vw;
         }
         @media (max-width:450px) {
            top:126vw;
            
         }
        
      }
      &:nth-of-type(4){
         top:143vw;
         width: 21%;
         left: 26%;
         transform: rotate(-15deg);
         @media (max-width:768px) {
            top:140.8vw;
         }
         @media (max-width:450px) {
            top:138vw;
         }
      }
      &:nth-of-type(5){
         z-index: -2;
         top:112.2vw;
         width: 19%;
         left: 47%;
         transform: rotate(-13deg);
         @media (max-width:768px) {
            top:110vw;
            width: 20%;
         }
         @media (max-width:450px) {
            top:106vw;  
            width: 22%;
         }
      }

      &:nth-of-type(6){
         z-index: -2;
         top:118vw;
         width: 25%;
         left: 71%;
         transform: rotate(17deg);

         @media (max-width:768px) {
            top:115vw;
         }
         @media (max-width:450px) {
            top:115vw;  
         }
      }

      
         
         
   }
   

   &__video{
      position: absolute;
      z-index: -2;
      
      
      height: auto;

      &:nth-of-type(1){
         top:183vw;
         width: 25%;
         left: 28%;
         @media (max-width:768px) {
            top:180vw;
         }
         @media (max-width:450px) {
            top:175vw;
         }
      
      }}
}