.main{
   
   
   font-family: 'Loki';
   
   top: 0;
   left: 0;
   background-repeat: no-repeat;
   background-position:center;
   background-size: 100vw;
   background-attachment: fixed;
   background-image: url('../images/background_main.webp');
   
   padding-top: 5vw;
   padding-bottom: 2vw;
   border-bottom: 1px solid lightgrey;
   


   
   &__wrapper{
      
      display: flex;
      justify-content: start;
      align-items: center;
       width: 65vw;
       
       margin-left: 10%;
      @media (max-width: 768px){
         width: 65vw;
         
      }

   }

   &__loveislog{
      width: 50%;
   }
   &__subtitle{
      -webkit-text-stroke: 2px #000000;
      font-family: 'Pequena';
      margin-top: 20px;
      font-weight: 200;
      
       font-size: 3vw;
       letter-spacing: 10%;
       width: fit-content;
      margin-left: 10%;
       padding-bottom: 2vw;
       
      @media (max-width: 768px){
         -webkit-text-stroke: 1.5px #000000;
         font-size: 4vw;
      }
   }
   &__text{
      font-family: 'Pequena';
      
      
       font-size: 4vw;
       color:white;
       -webkit-text-stroke: 2px #000000;
       width: fit-content;
       margin-left: 15%;
       letter-spacing: 5%;
       width: 40%;
       text-align: right;
       padding-bottom: 5vw;
      @media (max-width: 768px){
         -webkit-text-stroke: 1.5px #000000;
         font-size: 5vw;
      }
   }
   &__title-img{
      width: 30vw;
   }


   &__characters{
      margin-top: 10px;
      width: 20%;
      
   }
}