// ============================================================
// ПЕРЕМЕННЫЕ
// ============================================================
$color-white: #ffffff;
$color-dark-red: #5E0D0D;
$color-timeline: #a51b1b;