.video-collage {
  position: relative;
  background-image: url('../images/video_collage.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150vw;
  height: 80vw;


  
  @media (max-width: 450px) {
    background-size: 250vw;
    height: 125vw;
  }

  

  &__wrapper {
    position: absolute;
    top: 16%;
    gap: 10%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    z-index: 0;
    margin: 0 10%;
    @media (max-width: 450px) {
      top: 20%;
      gap: 0;
      flex-direction: column;
      width: 60%;
      left: 10%;
      height: 30%;
    }
  }

  &__video {
    position: absolute;
    width: 90%;
    height: 77%;
    background-color: lightgrey;
    top: 3%;
    left: 5%;
    z-index: -1;
    object-fit: cover;

     @media (max-width: 450px) {
      height: 100%;
    }
  }

  &__sample {
    position: relative;
    height: 50%;
    display: block;
    transform: rotate(5deg) translateY(50%);
    
    &:first-child{
      transform: rotate(-3deg);
    }
    &:last-child{
      transform: rotate(-5deg) translateY(100%);

    }
    @media (max-width: 768px) {
      height: 72%;          // высота подстраивается под содержимое
      width: 50%;            // блок уже на 70% от родителя
      max-width: 70%;        // ограничиваем максимальную ширину
      margin: 0 auto;  
      
      // центрирование (если не работает через flex)
    }

    @media (max-width: 450px) {
      transform: rotate(5deg) translateY(50%);
    
      &:first-child{
        transform: rotate(-3deg)  translateX(-100%);
      }
      &:last-child{
        transform: rotate(-5deg) translateY(100%)  translateX(90%);

      }
    }

  }

  &__sample-img {
    z-index: 2;
    width: 100%;
    height: auto;            // сохраняет пропорции изображения
    display: block;

    
  }
}