// ============================================================
// ВИДЕО 1 И ВИДЕО 2
// ============================================================

.main__video1 {
  position: absolute;
  z-index: -10;
  height: auto;
  top: 244vw;
  width: 25%;
  left: 28%;
  clip-path: polygon(0% 4%, 100% 4%, 100% 86%, 0% 86%);

  @media (max-width: 910px) { top: 242vw; }
  @media (max-width: 768px) { top: 240vw; }
  @media (max-width: 600px) { top: 239vw; }
  @media (max-width: 500px) { top: 248vw; }

  @media (max-width: 450px) {
    top: clamp(505vh, 510vh, 510vh);

    width: 60%;
    left: 18%;
  }
  @media (max-width: 391px) {
    top: clamp(435vh, 443vh, 443vh);
    
  }
  @media (max-width: 371px) {
    top: clamp(415vh, 421vh, 421vh);
  }

  @media (max-width: 361px) {
    top: clamp(405vh, 410vh, 410vh);
  }
  @media (max-width: 341px) {
    top: clamp(380vh, 386vh, 386vh);
  }
  @media (max-width: 321px) {
    top: clamp(360vh, 365vh, 365vh);
  }
}

.main__video2 {
  position: absolute;
  z-index: -1;
  height: auto;
  top: clamp(400vw, 402vw, 405vw);
  transform: rotate(15deg);
  width: 30.5%;
  left: 23.2%;

  @media (max-width: 768px) {
    top: clamp(393vw, 397vw, 400vw);
  }
  @media (max-width: 600px) {
    top: clamp(393vw, 397vw, 397vw);
  }
  @media (max-width: 500px) {
    top: clamp(395vw, 400vw, 400vw);
    top:440vw;
  }

  @media (max-width: 449px) {
    top: 1030vh;
    width: 90%;
    left: 1%;
  }
  @media (max-width: 391px) {
    top: clamp(895vh, 900vh, 900vh);
  }
  @media (max-width: 371px) {
    top: clamp(850vh, 855vh, 855vh);
  }
  @media (max-width: 341px) {
    top: clamp(780vh, 785vh, 785vh);
  }
  @media (max-width: 321px) {
    top: clamp(730vh, 735vh, 735vh);
  }
}